.jsonTable
  width: 100%

  tr:nth-child(even) {
    background-color: $main-bg-color
  }

  th
    text-align: left
    font-weight: bold
    border: 1px solid $main-bg-color
    border-collapse: collapse
    padding: 8px

  table, td
    border: 1px solid $main-bg-color
    border-collapse: collapse
    text-align: left
    font: $main-font
    padding: 8px

  .New
    background: rgba(20, 137, 44, 0.2) !important

  .Ready
    background: rgba(20, 137, 44, 0.2) !important

  .prepare
    background: rgba(20, 137, 44, 0.2) !important

  .estimation
    background: rgba(20, 137, 44, 0.2) !important

  .Developement
    background: rgba(250, 239, 6, 0.2) !important

  .Review
    background: rgba(250, 239, 6, 0.2) !important

  .Blocked
    background: rgba(179, 39, 39, 0.6) !important

  .dev
    background: rgba(20, 137, 44, 0.6) !important

  .TestedbyPO
    background: rgba(20, 137, 44, 0.6) !important

  .Done
    background: rgba(20, 137, 44, 0.6) !important

  .staging
    background: rgba(20, 137, 44, 0.6) !important

.issues
  &__wrapper
    width  100%
    height 100%

  &__current-wrapper
    display block
    position absolute
    top 50%
    width 100%
    transform translateY(-220%)
    font-size 3rem
    text-align center
    color #21da0c

.jira
  &__wrapper
    width  100%
    height 100%

  &__current-wrapper
    display block
    position absolute
    top 70%
    width 100%
    transform translateY(-220%)
    font-size 11rem
    text-align center

  &__widget__header__subject
    font-size: 1.5em
    color: #ffffff

  &__current-count-Done
    color: #14892c

  &__current-count-In-Progress
    color: #ffd351

  &__current-count-Code-Review
    color: #edb100

  &__current-count-BLOCKED
    color: #ed192d

  &__current-count-DEVELOPMENT
    color: #edb414

  &__current-count-TO-BE-PREPARED
    color: #03beed

  &__current-count-Reported
    color: #4a6785

  &__current-count-Confirmed
    color: #3777ba

  &__current-count-To-Do
    color: #007cff

  &__current-count-New
    color: #007cff

  &__current-count-In-Version
    color: #ffffff